*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin: 0px 150px;
}
.header-p{
    padding: 30px 0px;
}
header{
    background-color: black;
    color: white;
}
header .navigation{
    display: flex;
    align-items: center;
}
header .logo{
    flex: 1;
}
header .logo span{
    font-size: 30px;
}
header .theme{
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 17px;
}
header .theme .bars button{
    padding: 4px;
}
/* ============================================ */
.menubar{
    background-color: cadetblue;
    position: fixed;
    width: 100%;
    top: -253px;
}
.menubar .closebtn{
    position: absolute;
    right: 150px;
}
.menubar .closebtn button{
    font-size: 17px;
    padding: 4px;
}
.menubar .navbar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 500;
}
/* new css */
.menutbar{    
    background-color: cadetblue;
    position: fixed;
    width: 100%;
    top: 90px;
}
.menutbar .navbar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.dark_mode{
    background-color: black;
    color: white;
}
.dark_mode header{
    background-color: white;
    color: black;
}
.dark_mode .menutbar{
    background-color: orangered;
}
.dark_mode .menutbar a{
    color: rgb(255, 255, 255);
}